@import "tailwindcss";

:root {
  --background: #ffffff;
  --bg-dark: #012E40;
  --btn-color: #F28705;
  --blue-400: #038C8C;

  --text-white: #ffffff;
  --text-700: #025159;
  --text-400: #03A696;  
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: montserrat, sans-serif;
}


button {
  border-radius: 30px;
  font-weight: bold;
}

.header {
  height: 80vh;
  background: url('../assets/img/fahim-muntashir-14JOIxmsOqA-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}